
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {background: #fefaf5 !important}
img{height: auto; width: 100%;}

.top-underlay{
    background: #fb8c00;
    height: 355px;
    position: absolute;
    z-index: -1;
    width: 100%;
}
.logo {
    margin-top: 28px;
    margin-bottom: 10px;
}
#midwrapper {
    margin: -106px auto 20px;
    padding: 100px 0 10px;
    background-color: #333;
    border-bottom: 3px #F60 ridge;
}
#midwrapper h1 {
    color: #999;
    font:bold 34px Georgia, "Times New Roman", Times;
    margin-top: 0px;
    margin-left: -14px;
}
#midwrapper p {
    color: #fff;
    margin-left: -14px;
}
#midwrapper li {
    color: #fff;
}
/* SECTION 4: Content Region */

#front-left_ {
	margin-bottom:10px; padding-bottom:10px;padding-left:0;padding-right:0;
	min-height:330px; border-bottom:9px solid #999; width:38.4444%;
}
#front-left {
	margin:0 0 10px 0; padding:0 15px 10px 0;
	overflow:auto; min-height:330px;
}
#featured-service_ {
	background-color:#ccc; min-height:330px;
	border-bottom:9px solid #333; margin:0 15px 10px;
}
#featured-service_ ul{
    padding-left: 0;
    list-style: none;
}
#featured-service_ ul li, #content ul li {
    color: #033;
    border-bottom: 1px dotted #666;
    margin-right: 5px;
    padding: 3px 0 3px 10px;
}
#featured-service_ ul li:hover, #content ul li:hover {background-color: #333; color:#fe9b00;}
#front-right_ {
	border-bottom:9px solid #09c;
	background:#fe9b00; color:#000; min-height:330px;
}
#front-right {
	margin:0 0 10px 0; padding:0 0 10px 25px;
	min-height:300px;
}
#project-front-left {
	margin:0 10px 10px 0; padding:0 15px 10px 0;
	min-height:300px;
}
#project-front-right_ {
	border-bottom:9px solid #09c;
	background:#fe9b00; color:#000;
}
#content h1 {
	font:bold 18px/18px Georgia, "Times New Roman", Times, serif; color:#090909;
	padding:0 0 10px 0; margin-bottom:16px;
}
#content h2 {
	text-transform:uppercase; font:bold 17px/18px Calibri, Tahoma, Geneva, sans-serif; color:#090909;
	padding:0 0 10px 0; margin:15px 0;
}
#content p{margin-bottom:15px;}
#contact-front-left {
    border-bottom: 9px solid #09c;
    background: #fe9b00;
    color: #000;
    padding: 15px;
    margin-bottom: 15px;
}
dd {margin-left: 15px;}
#contact-front-left dl {margin-bottom: 0;}

// Carousel
.item img {
    border-radius: 7px;
    border: 1px solid #333;
}
.promo {padding-bottom: 25px;}

// Footer Section
footer {
    font-size:13px;
    text-align:center;
}
.footer{
    border-top: 1px solid #000;
    padding: 3px 0 5px;
}
.footer ul{
    background-color: #333;
    width:auto;
    list-style:none;
    padding:0px 20px 0 20px;
    margin-bottom: 5px;
}
.footer ul li{
    padding:0px;
    display:inline;
}
.footer ul li a{
    text-decoration: none;
    padding: 0 7px 0 7px;
    margin: 0 10px 0 10px;
    color: #fff;
}
.divider{ padding:0; margin:0}

@media only screen and (max-width: 500px) {
    .top-underlay {height: 180px;}
    .promo {padding-bottom: 14px;}
    #midwrapper h1  {
        font-size:24px;
        margin-left: 0;
    }
    #midwrapper p {margin-left: 0;}
    .xs-margin-bottom {margin-bottom: 15px;}
    #front-left_ {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        min-height: auto;
        border: 0;
        width: auto;
    }
    #featured-service_ {margin:0 0 10px;}
    #front-right {
    	margin: 0;
    	padding: 0;
    }
}
